button {
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: $btn-bg;
    color: $btn-text;
    font-size: $button;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    line-height: 36px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}

.main-btn {
    z-index: 1000;
}

.pop-btn {
    width: 70%;
    height: 42.85px;
    font-size: $date-small;
    text-shadow: none;
}