//colors
$black: #000000;
$grey: #9E9E9E;
$dark-grey: #919191;
$purple: #708FEE;
$white: #fff;
$light-purple: #F0F3FF;

//font-fam
$font-family: 'Poppins', sans-serif;

//font-size
$h1: 30px;
$h2:  38px;
$h3:  18px;
$h4:  11px;
$button: 24px;
$list-size: 13px;
$date: 36px;
$date-small: 18px;

//brakepoints


//button
$btn-text: $white;
$btn-bg:  $purple;

//list item
$list-text: $list-size;
$list-bg: $light-purple;