h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 1.5%;
  color: #708FEE;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 16%;
  color: #708FEE;
  font-weight: 400;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 6%;
  color: #000000;
  font-weight: 400;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #9E9E9E;
  font-weight: 400;
}

.list-item {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  color: #000000;
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  color: #708FEE;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.5%;
}

.semibold {
  font-weight: 600;
}

.small {
  font-family: 400;
}

.month {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #919191;
}

button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #708FEE;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 36px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}

.main-btn {
  z-index: 1000;
}

.pop-btn {
  width: 70%;
  height: 42.85px;
  font-size: 18px;
  text-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.center {
  text-align: center;
}

.Launch-popup {
  padding: 94px 24px 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
}

.Launch-popup img {
  width: 353px;
}

.Launch-popup__text {
  width: 231px;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px 30px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  position: relative;
  display: none;
}

main h2 {
  margin-bottom: 70px;
}

main .addTask {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.date__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date__inline p {
  margin: 0;
}

.date__inline .small {
  padding-left: 20px;
}

.date .month {
  margin-top: 0;
}

ul {
  z-index: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  height: calc(100vh - 400px);
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

ul li .touch {
  padding-inline: 20px;
}

ul li .check {
  width: 13px;
  height: 13px;
  border: 1px solid #708FEE;
  border-radius: 50%;
}

ul li .checked {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

ul li label {
  width: 100%;
  height: 43px;
  cursor: pointer;
  background-color: #F0F3FF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-inline: 20px;
}

ul li label input[type="checkbox"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #708FEE;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

ul li label input[type="checkbox"]::before {
  content: "";
  width: 13px;
  height: 13px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  border-radius: 50%;
}

ul li label input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
  display: block;
  content: " ";
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center left;
  height: 13px;
  width: 13px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' fill='%23708FEE' stroke='%23708FEE'/%3E%3Cpath d='M17 2L7.00283 12.0001' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M6.9248 12.0742L4 9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

ul li label .delete {
  z-index: 1;
}

.checked-task {
  color: #A4A4A4;
  text-decoration: line-through;
}

.checked-item {
  background-color: rgba(240, 243, 255, 0.4);
}

.modal-add-task {
  background-color: rgba(0, 0, 0, 0.424);
  inset: 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: none;
}

.modal-add-task .popup {
  text-align: center;
  width: 83%;
  height: 30%;
  background-color: #F0F3FF;
  border-radius: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-add-task .popup h2 {
  margin: 0;
}

.flex-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type='text'] {
  border: none;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 42.85px;
  border-radius: 10px;
  padding-left: 20px;
}

input[type='text']::-webkit-input-placeholder {
  color: #919191;
  letter-spacing: 2px;
}

input[type='text']:-ms-input-placeholder {
  color: #919191;
  letter-spacing: 2px;
}

input[type='text']::-ms-input-placeholder {
  color: #919191;
  letter-spacing: 2px;
}

input[type='text']::placeholder {
  color: #919191;
  letter-spacing: 2px;
}

input[type='text']:focus {
  outline: 3px solid #708FEE;
}

input[type='submit'] {
  border-radius: 50px;
  border: none;
  background-color: #708FEE;
  color: #fff;
  line-height: 36px;
  width: 70%;
  height: 42.85px;
  font-size: 18px;
}
